<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Reels Downloader</title>
</head>
<body>
    <div style="color:blue">
        <form action="{{ url_for('download_all_posts')}}" method="post">
            <h2>Instagram reel downloader</h2>
            <h3>Profile Link</h3>
            <input id="first" name="username" type="text">
            </select>
            
            <br><br><button id="sub" type="submit ">Download Posts</button>
            <br>
        </form>
    </div>
</body>
</html>